
        body {
            font-family: Arial, sans-serif;
            background-image: url('images.jfif');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
        }
        .container
         { margin-top: 50px; 
            color: black ;
            text-shadow: 2px black;
            text-align: center;
        }
        h2.text-center
        {
            padding : 350px 0 0 0;
        }
        .timetable { display: none; }
        